<nav class="navbar navbar-expand-lg px-md-4" style="background-color: var(--bs-gray-200)">
  <div class="container-fluid">
    <button class="navbar-toggler"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <span class="d-flex">
      <i class="ph-person-simple-run"
        style="font-size: 40px; color: var(--accent-color)"></i>
      <a class="navbar-brand"
        [routerLink]="'/'">
        Running Tools
      </a>
    </span>
    <span></span>

    <div [ngbCollapse]="isMenuCollapsed"
      class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link"
            [routerLink]="'/pace-calculator'"
            (click)="isMenuCollapsed = true">{{ "paceCalcTitle" | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            [routerLink]="'/target-heart-rate-calculator'"
            (click)="isMenuCollapsed = true">{{ "hrCalcTitle" | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            [routerLink]="'/bmr-calculator'"
            (click)="isMenuCollapsed = true">{{ "bmrCalcTitle" | translate }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>