<div class="container">
  <div class="calc-container">
    <h3 class="mt-5 text-center">Pace Calculator</h3>

    <p class="mt-5">
      Optimize your runs with our Pace Calculator. Effortlessly determine your pace per kilometer or mile based on your
      desired time and distance. Featuring three simple fields—time, distance, and pace—you can tailor your training to
      match your goals.
    </p>
    <p class="mb-5">
      Fill in just two fields, and the calculator does the heavy lifting for you: know your time and distance? It
      calculates the pace. Want to adjust your distance for a specific time? Simply input time and pace, and the
      calculator reveals the ideal distance. An indispensable tool for optimizing your performance in street races.
      Challenge yourself and achieve your goals with precision!
    </p>
      
    <div class="calc-grid">
      <span>Time</span>
      <ngb-timepicker id="time-picker"
        [(ngModel)]="time"
        [seconds]="true"
        style="grid-column: 2 / 4">
      </ngb-timepicker>
      <button type="button"
        class="btn btn-warning clear-btn"
        (click)="time = DEFAULT_TIME_STRUCT">
        <i class="ph-eraser"></i>
      </button>

      <span>Distance</span>
      <input type="number"
        id="distanceInput"
        name="distanceInput"
        class="form-control"
        [(ngModel)]="distance"
        onclick="this.select()" />
      <select class="form-select"
        [(ngModel)]="distanceUnit">
        <option value="1">KM</option>
        <option value="1.6">Miles</option>
      </select>
      <button type="button"
        class="btn btn-warning clear-btn"
        (click)="distance = 0">
        <i class="ph-eraser"></i>
      </button>

      <span>Pace</span>
      <ngb-timepicker [(ngModel)]="pace"
        [seconds]="true"
        id="pacePicker">
      </ngb-timepicker>
      <select class="form-select"
        [(ngModel)]="paceUnit">
        <option value="1">/KM</option>
        <option value="1.6">/Mile</option>
      </select>
      <button type="button"
        class="btn btn-warning clear-btn"
        (click)="pace = DEFAULT_TIME_STRUCT">
        <i class="ph-eraser"></i>
      </button>

      <button type="button"
        class="btn btn-primary calc-btn mt-4"
        (click)="calculate()">
        Calculate
      </button>
      <button type="button"
        class="btn btn-light calc-btn mt-3"
        (click)="reset()">
        Reset
      </button>
    </div>
  </div>
</div>