.main-container {
  max-width: 384px;
  margin: 0 auto;
}

.input-container {
  display: grid;
  align-items: center;
  gap: 10px;
}

.calc-buttons {
  display: grid;
  /* justify-content: center; */
  /* width: 300px; */
  margin: 0 auto;
  gap: 10px;
}

.clear-btn {
  justify-self: center;
  /* dis */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.time--grid {
  grid-template-columns: 80px 1fr 60px;
}

.grid--4col {
  grid-template-columns: 80px 1fr .5fr 60px;
}

.grid--4col2 {
  grid-template-columns: 80px 1fr 1fr 60px;
}