/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

.calc-grid {
  max-width: 410px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 86px);
  align-items: center;
  column-gap: 12px;
}

.calc-btn {
  grid-column: 1 / 5;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* .clear-btn { } */
