<div class="container">
  <div class="calc-container">
    <h3 class="mt-5 text-center">Basal Metabolic Rate Calculator</h3>

    <p class="my-5">Understanding your BMR is a crucial step in optimizing your health and fitness journey. It serves as
      the foundation for estimating daily caloric needs, aiding in goal-setting for weight management or maintaining a
      healthy lifestyle.</p>

    <form [formGroup]="form"
      (submit)="onSubmit()">

      <div class="form-floating mb-3">
        <input type="number"
          class="form-control"
          [class.is-valid]="age.valid"
          [class.is-invalid]="age.touched && age.invalid"
          id="ageInput"
          min="0"
          max="200"
          step="1"
          formControlName="age"
          placeholder="age" />
        <label for="floatingInput">age</label>
        <div class="invalid-feedback">please insert a valid age</div>
      </div>


      <section class="row mb-3 align-items-center">
        <label class="col-sm-2 col-form-label">Gender</label>
        <div class="col-sm-10">
          <div class="form-check form-check-inline">
            <input class="form-check-input"
              type="radio"
              [class.is-invalid]="gender.touched && gender.invalid"
              id="maleOption"
              value="m"
              formControlName="gender" />
            <label class="form-check-label"
              for="maleOption">male</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input"
              type="radio"
              [class.is-invalid]="gender.touched && gender.invalid"
              id="femaleOption"
              value="f"
              formControlName="gender" />
            <label class="form-check-label"
              for="femaleOption">female</label>
          </div>
        </div>
      </section>

      <div class="form-floating mb-3">
        <input type="number"
          class="form-control"
          [class.is-valid]="height.valid"
          [class.is-invalid]="height.touched && height.invalid"
          id="heightInput"
          min="1"
          max="300"
          step="1"
          formControlName="height"
          placeholder="height">
        <label for="floatingInput">height (in cm)</label>
        <div class="invalid-feedback">please insert a valid height</div>
      </div>

      <div class="form-floating mb-3">
        <input type="number"
          class="form-control"
          [class.is-valid]="weight.valid"
          [class.is-invalid]="weight.touched && weight.invalid"
          id="weightInput"
          min="1"
          max="800"
          step="1"
          formControlName="weight"
          placeholder="weight" />
        <label for="floatingInput">weight (in kg)</label>
        <div class="invalid-feedback">please insert a valid weight</div>
      </div>

      <div class="container">
        <div class="row mb-2">
          <button type="submit"
            class="btn btn-primary"
            type="submit">Calculate</button>
        </div>
        <div class="row">
          <button type="reset"
            (click)="onReset()"
            class="btn btn-light">Reset</button>
        </div>
      </div>
    </form>

    <section class="row mt-3"
      *ngIf="showResult">
      <h3>Results</h3>
      <p> BMR = {{ bmr | number:'1.0-0' }} calories per day </p>
    </section>

    <ng-container *ngIf="bmr">
      <table class="table table-sm mt-4">
        <thead class="table-light">
          <tr>
            <th>Activity level</th>
            <th>Calories</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let al of activityLevels; index as i">
            <td>
              {{ al.description }}
            </td>
            <td>
              {{ (al.multiplier * bmr) | number:'1.0-0' }}
            </td>
          </tr>
        </tbody>
      </table>

      <p class="my-5">
        Keep in mind that these are rough estimates, and individual needs may vary. The best approach is to monitor your
        weight and adjust your calorie intake based on real-world results. And, of course, consulting with a healthcare
        professional or nutritionist is always a good idea!
      </p>
    </ng-container>

  </div>
  <!-- {{ form.value | json }} -->
</div>