<div class="container">
  <div class="calc-container">
    <h3 class="mt-5 text-center">{{ "bmrCalc.title" | translate }}</h3>

    <p class="my-5">{{ "bmrCalc.firstParagraph" | translate }}</p>

    <form [formGroup]="form"
      (submit)="onSubmit()">

      <div class="form-floating mb-3">
        <input type="number"
          class="form-control"
          [class.is-valid]="age.valid"
          [class.is-invalid]="age.touched && age.invalid"
          id="ageInput"
          min="0"
          max="200"
          step="1"
          formControlName="age"
          placeholder="age" />
        <label for="floatingInput">{{ "bmrCalc.age" | translate }}</label>
        <div class="invalid-feedback">{{ "bmrCalc.validation.ageInvalid" | translate }}</div>
      </div>


      <section class="row mb-3 align-items-center">
        <label class="col-sm-2 col-form-label">{{ "bmrCalc.gender" | translate }}</label>
        <div class="col-sm-10">
          <div class="form-check form-check-inline">
            <input class="form-check-input"
              type="radio"
              [class.is-invalid]="gender.touched && gender.invalid"
              id="maleOption"
              value="m"
              formControlName="gender" />
            <label class="form-check-label"
              for="maleOption">{{ "bmrCalc.male" | translate }}</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input"
              type="radio"
              [class.is-invalid]="gender.touched && gender.invalid"
              id="femaleOption"
              value="f"
              formControlName="gender" />
            <label class="form-check-label"
              for="femaleOption">{{ "bmrCalc.female" | translate }}</label>
          </div>
        </div>
      </section>

      <div class="form-floating mb-3">
        <input type="number"
          class="form-control"
          [class.is-valid]="height.valid"
          [class.is-invalid]="height.touched && height.invalid"
          id="heightInput"
          min="1"
          max="300"
          step="1"
          formControlName="height"
          placeholder="height">
        <label for="floatingInput">{{ "bmrCalc.height" | translate }}</label>
        <div class="invalid-feedback">{{ "bmrCalc.validation.heightInvalid" | translate }}</div>
      </div>

      <div class="form-floating mb-3">
        <input type="number"
          class="form-control"
          [class.is-valid]="weight.valid"
          [class.is-invalid]="weight.touched && weight.invalid"
          id="weightInput"
          min="1"
          max="800"
          step="1"
          formControlName="weight"
          placeholder="weight" />
        <label for="floatingInput">{{ "bmrCalc.weight" | translate }}</label>
        <div class="invalid-feedback">{{ "bmrCalc.validation.weightInvalid" | translate }}</div>
      </div>

      <div class="container">
        <div class="row mb-2">
          <button type="submit"
            class="btn btn-primary"
            type="submit">{{ "controls.calculate" | translate }}</button>
        </div>
        <div class="row">
          <button type="reset"
            (click)="onReset()"
            class="btn btn-light">{{ "controls.reset" | translate }}</button>
        </div>
      </div>
    </form>

    <section class="row mt-3"
      *ngIf="showResult">
      <h3>{{ "bmrCalc.results.title" | translate }}</h3>
      <p>{{ "bmrCalc.results.bmrResult" | translate:bmrDisplay }}</p>
    </section>

    <ng-container *ngIf="bmr && showResult">
      <table class="table table-sm mt-4">
        <thead class="table-light">
          <tr>
            <th>{{ "bmrCalc.table.heading.activityLevel" | translate }}</th>
            <th>{{ "bmrCalc.table.heading.calories" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let al of activityLevels; index as i">
            <td>
              {{ al.description | translate }}
            </td>
            <td>
              {{ (al.multiplier * bmr) | number:'1.0-0' }}
            </td>
          </tr>
        </tbody>
      </table>

      <p class="my-5">{{ "bmrCalc.results.firstParagraph" | translate }}</p>
    </ng-container>

  </div>
  <!-- {{ form.value | json }} -->
</div>