<div class="container d-flex align-items-center">
  <div class="row py-5">

    <div class="col-12 col-md-4">
      <button class="btn"
        [routerLink]="'/pace-calculator'">
        <div class="card card--pace text-bg-dark">
          <div class="card-body">
            <span class="d-flex align-items-center">
              <i class="ph ph-timer"
                style="font-size: 40px; "></i>
              <h5 class="m-0 ps-1 fw-semibold">Pace Calculator</h5>
            </span>
            <p class="card-text py-3">Determine your pace per kilometer or mile based on your desired time and distance.
            </p>
          </div>
        </div>
      </button>
    </div>

    <div class="col-12 col-md-4">
      <button class="btn"
        [routerLink]="'/target-heart-rate-calculator'">
        <div class="card card--hr text-bg-dark">
          <div class="card-body">
            <span class="d-flex align-items-center">
              <i class="ph ph-heartbeat"
                style="font-size: 40px; "></i>
              <h5 class="m-0 ps-1 fw-semibold">Heart Rate</h5>
            </span>
            <p class="card-text py-3">Discover personalized heart rate zones to enhance your fitness journey.</p>
          </div>
        </div>
      </button>
    </div>

    <div class="col-12 col-md-4">
      <button class="btn">
        <div class="card card--mbr text-bg-dark">
          <div class="card-body">
            <span class="d-flex align-items-center">
              <i class="ph-lightning"
                style="font-size: 40px; "></i>
              <h5 class="m-0 ps-1 fw-semibold">Basal Metabolic Rate (BMR)</h5>
            </span>
            <p class="card-text py-3">Understanding your metabolic baseline.</p>
          </div>
        </div>
      </button>
    </div>
  </div>
</div>