<div class="container">
  <div class="row py-5 d-flex align-items-center"
    style="height: 80vh;">
    <div class="col-12 col-md-4">
      <button class="btn"
        [routerLink]="'/pace-calculator'">
        <div class="card card--pace text-bg-dark">
          <div class="card-body">
            <span class="d-flex align-items-center">
              <i class="ph ph-timer"
                style="font-size: 40px;"></i>
              <h5 class="m-0 ps-1 fw-semibold">{{ "paceCalcTitle" | translate }}</h5>
            </span>
            <p class="card-text py-3">{{ "home.paceDescription" | translate }} </p>
          </div>
        </div>
      </button>
    </div>

    <div class="col-12 col-md-4">
      <button class="btn"
        [routerLink]="'/target-heart-rate-calculator'">
        <div class="card card--hr text-bg-dark">
          <div class="card-body">
            <span class="d-flex align-items-center">
              <i class="ph ph-heartbeat"
                style="font-size: 40px;"></i>
              <h5 class="m-0 ps-1 fw-semibold">{{ "hrCalcTitle" | translate }}</h5>
            </span>
            <p class="card-text py-3">{{ "home.hrDescription" | translate }}</p>
          </div>
        </div>
      </button>
    </div>

    <div class="col-12 col-md-4">
      <button class="btn"
        [routerLink]="'/bmr-calculator'">
        <div class="card card--mbr text-bg-dark">
          <div class="card-body">
            <span class="d-flex align-items-center">
              <i class="ph-lightning"
                style="font-size: 40px;"></i>
              <h5 class="m-0 ps-1 fw-semibold">{{ "bmrCalcTitle" | translate }}</h5>
            </span>
            <p class="card-text py-3">{{ "home.bmrDescription" | translate }}</p>
          </div>
        </div>
      </button>
    </div>
  </div>
</div>